<!-- Sección mis servicios -->
<span id="servicios"></span>
<section class="seccion_servicios">
  <div class="contenedor">
    <h2 class="subtitulo">Mis Servicios</h2>
    <div class="contenedor_servicios">
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-palette icono_servicio"></i>
        <h3 class="titulo_servicio">Diseño de Interfaces Web</h3>
        <p class="descripcion_servicio">
          Desarrollo de interfaces modernas y funcionales utilizando las últimas tecnologías en
          diseño web, asegurando una experiencia fluida e intuitiva para el usuario.
        </p>
      </div>
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-laptop icono_servicio"></i>
        <h3 class="titulo_servicio">Desarrollo Frontend</h3>
        <p class="descripcion_servicio">
          Creación de sitios web responsivos y adaptativos con HTML, CSS y JavaScript.
        </p>
      </div>
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-gear icono_servicio"></i>
        <h3 class="titulo_servicio">Desarrollo Backend</h3>
        <p class="descripcion_servicio">
          Implementación de soluciones backend con PHP o Java para gestionar bases de datos y crear
          servicios web escalables y seguros.
        </p>
      </div>
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-database icono_servicio"></i>
        <h3 class="titulo_servicio">Gestión de Bases de Datos</h3>
        <p class="descripcion_servicio">
          Diseño y optimización de bases de datos SQL para garantizar un rendimiento eficiente en
          aplicaciones web y sistemas de gestión.
        </p>
      </div>
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-rocket icono_servicio"></i>
        <h3 class="titulo_servicio">Optimización SEO</h3>
        <p class="descripcion_servicio">
          Optimización de sitios web para mejorar el posicionamiento en motores de búsqueda,
          asegurando que tus páginas sean fácilmente encontradas por tu público objetivo.
        </p>
      </div>
      <div class="tarjeta_servicio">
        <i class="fa-solid fa-screwdriver-wrench icono_servicio"></i>
        <h3 class="titulo_servicio">Soporte Web</h3>
        <p class="descripcion_servicio">
          Mantenimiento y soporte continuo para tu página web, asegurando que se mantenga segura,
          actualizada y funcionando correctamente.
        </p>
      </div>
    </div>
  </div>
</section>