<span id="bienvenida" style="position: absolute; top: 0px"></span>
<section class="seccion_bienvenida">
  <div class="contenedor bienvenida_contenedor">
    <div class="bienvenida_imagen">
      <img src="assets/img_sobreMi/mi_foto.png" alt="Samuel Moniz" />
    </div>
    <div class="bienvenida_texto">
      <h1>Soy Samuel Moniz</h1>
      <p>
        Desarrollador web apasionado por crear soluciones eficientes y modernas. Busco un puesto de
        trabajo donde pueda aplicar mis conocimientos, seguir aprendiendo y contribuir al éxito de
        un equipo profesional.
      </p>
      <div class="redes">
        <!-- Iconos con enlaces -->
        <a href="https://github.com/sam324sam" title="github">
          <i class="fa-brands fa-github icono"></i>
        </a>
        <a href="https://www.linkedin.com/in/samuel-moniz-pereira/" title="linkedin">
          <i class="fa-brands fa-linkedin icono"></i>
        </a>
        <a
          href="asset/img_sobreMi/CVSamuelMoniz.pdf"
          download="Curriculum_Samuel_Moniz.pdf"
          title="Currículum"
        >
          <i class="fas fa-file fa-icono icono"></i>
        </a>
        <a href="mailto:samuel324moniz@gmail.com" title="Correo">
          <i class="fa-solid fa-at icono"></i>
        </a>
      </div>
    </div>
  </div>
</section>
