/* SECCIÓN: HTML y BODY */
body {
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #d9d9da;
    scroll-behavior: smooth;
}

/* SECCIÓN: TIPOGRAFÍA */
h1,
h2,
h3 {
    color: #343a40;
}

section{
    margin-top: 144px;
}

/* SECCIÓN: ENCABEZADO */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    z-index: 1000;
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: #1b1e23;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

#cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
}

.logo {
    width: 130px;
    border-radius: 50%;
}

/* SECCIÓN: CONTENEDOR */
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* SECCIÓN: NAVEGACIÓN (MENÚ) */
.navegacion_escritorio {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.navegacion_movil {
    display: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.item_navegacion {
    margin: 0 15px;
}

.enlace_navegacion {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.enlace_navegacion:hover {
    background-color: #5c636b;
    transform: scale(1.05);
}

.logo img {
    width: 120px;
    border-radius: 50%;
}
/*Parte del menu responsive*/
.boton_menu_desplegable {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 45px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.boton_menu_desplegable .bar {
    width: 100vh;
    height: 4px;
    background-color: white;
}

.menu_desplegable {
    display: none;
    position: absolute;
    top: 135px;
    right: 0;
    background-color: #1b1e23de;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.055);
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.9s ease, opacity 0.9s ease, box-shadow 0.9s ease;
}

.menu_desplegable li a{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* Versión móvil */
@media (max-width: 1070px) {
    .navegacion_escritorio {
        display: none;
    }

    .navegacion_movil {
        display: flex;
        list-style-type: none;
        width: 100%;
        padding: 0;
    }

    .boton_menu_desplegable {
        display: flex;
    }

    .logo img{
        width: 80px;
    }
}

/* Sección Sobre Mí */
.seccion_conoceme {
    padding: 50px 0;
    background-color: #ffffff98;
    margin-top: 200px;
}

.subtitulo {
    text-align: center;
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 30px;
}

.contenedor_sobreMi {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulos_sobreMi {
    font-size: 1.25rem;
    background-color: #1b1e23;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.activo {
    transform: scale(1.1);
    background-color: #343a40; /* Un tono más oscuro */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.texto_sobreMi {
    margin: 0px;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.8;
    padding: 50px;
    background-color: #443737d0;
    border-radius: 8px;
}

.img_sobreMi {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.conteido_sobreMi {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 49vh;
    width: 100%;
    margin: 0;
}

/*Seccion servicios*/
.seccion_servicios {
    background-color: #ffffff98;
    padding: 50px 0;
}

.contenedor_servicios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta_servicio {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.6s ease, transform 1.6s ease;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
}

.tarjeta_servicio:hover {
    transform: scale(1.05);
}

.tarjeta_servicio.aparecer {
    opacity: 1;
    transform: translateY(0); /* Regresa a su posición original */
}

.icono_servicio {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.titulo_servicio {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.descripcion_servicio {
    font-size: 1em;
    color: #666;
}

/* SECCIÓN: HABILIDADES */
.seccion_habilidades {
    background-color: #ffffff98;
    padding: 50px 0;
}

.habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icono_habilidad {
    width: 120px;
    margin: 10px;
    transition: transform 0.3s;
}

.icono_habilidad:hover {
    transform: scale(1.1);
}

/* SECCIÓN: PROYECTOS */
.seccion_proyectos {
    padding: 50px 0;
}
.contenedor_proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin: auto;
}

.tarjeta {
    background-color: white;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    padding: 10px;
    opacity: 0; /* Ocultar inicialmente */
    transform: translateY(20px); /* Desplazar hacia abajo */
    transition: opacity 2s ease, transform 2s ease; /* Transición para opacidad y movimiento */
}

.tarjeta.aparecer {
    opacity: 1; /* Mostrar cuando se añade la clase */
    transform: translateY(0); /* Volver a la posición original */
}

.imagen_tarjeta {
    width: 90%;
    min-width: 300px;
    margin: auto;
    height: auto;
}

.contenido_tarjeta {
    padding: 15px;
}

.titulo_tarjeta {
    margin: 0;
    font-weight: bold;
}

.descripcion_tarjeta {
    color: #6c757d;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #0056b3;
}

/* SECCIÓN: CONTACTO */
.seccion_contacto {
    background-color: #1b1e23;
    color: white;
    padding: 50px 0;
    text-align: center;
}

/* SECCIÓN: FOOTER */
.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 15px 0;
}

/* Contenedor de los iconos */
.redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.icono{
    width: 100px;
    filter: drop-shadow(0 0 1px #ffffff) drop-shadow(0 0 10px #384244) drop-shadow(0 0 5px #324549);
}