<!-- Sección Habilidades -->
    <span id="habilidades"></span>
    <section class="seccion_habilidades">
      <div class="contenedor">
        <h2 class="subtitulo">Habilidades</h2>

        <!-- Lenguajes -->
        <div class="celda_habilidades">
          <h3>Lenguajes</h3>
          <div class="habilidades">
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                title="HTML5"
                alt="HTML5"
              />
              <figcaption>HTML5</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
                title="CSS3"
                alt="CSS3"
              />
              <figcaption>CSS3</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                title="JavaScript"
                alt="JavaScript"
              />
              <figcaption>JavaScript</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"
                title="PHP"
                alt="PHP"
              />
              <figcaption>PHP</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
                title="Java"
                alt="Java"
              />
              <figcaption>Java</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg"
                title="Go"
                alt="Go"
              />
              <figcaption>Go</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
                title="SQL"
                alt="SQL"
              />
              <figcaption>SQL</figcaption>
            </figure>
          </div>
        </div>

        <!-- Frameworks -->
        <div class="celda_habilidades">
          <h3>
            Frameworks / Librerías
          </h3>
          <div class="habilidades">
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
                title="Vue 3"
                alt="Vue 3"
              />
              <figcaption>Vue 3</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
                title="Angular"
                alt="Angular"
              />
              <figcaption>Angular</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                title="Spring Boot"
                alt="Spring Boot"
              />
              <figcaption>Spring Boot</figcaption>
            </figure>
          </div>
        </div>

        <!-- Herramientas -->
        <div class="celda_habilidades">
          <h3>
            Herramientas
          </h3>
          <div class="habilidades">
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                title="Git"
                alt="Git"
              />
              <figcaption>Git</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                title="GitHub"
                alt="GitHub"
                style="filter: invert(1) brightness(1.2) contrast(0.8);"
              />
              <figcaption>GitHub</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
                title="VS Code"
                alt="VS Code"
              />
              <figcaption>VS Code</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg"
                title="Postman"
                alt="Postman"
              />
              <figcaption>Postman</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
                title="MySQL Workbench"
                alt="MySQL Workbench"
              />
              <figcaption>MySQL Workbench</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
                title="PgAdmin"
                alt="PgAdmin"
              />
              <figcaption>PgAdmin</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                title="AWS"
                alt="AWS"
              />
              <figcaption>AWS</figcaption>
            </figure>
            <figure class="icono_habilidad_fig">
              <img
                class="icono_habilidad"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sonarqube/sonarqube-original.svg"
                title="SonarQube"
                alt="SonarQube"
              />
              <figcaption>SonarQube</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>